@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Inventario ITSense</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Defectuso</th>
            </tr>
        </thead>
        <tbody id="Products"></tbody>
    </table>
</div>

<script src="~/Scripts/TypeScript/Index.js"></script>